nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  background-color: white;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
div.mobile-menu ul, nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.mobile-menu ul {
  flex-direction: column;
}
div.mobile-menu ul li button,nav ul li button{
  padding: 14px 16px;
  margin: .5rem;
  background: transparent;
  border: none;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
div.mobile-menu ul li button{
  text-align: start;
  width: 95%;
  border-bottom: 1px solid rgb(231, 231, 231);
  font-weight: 600;

}
ul li button:hover{
  border-bottom: 1px solid red;
}

div.mobile-menu{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100vw;
  min-height: 30vh;
  background-color: white;
  border-top: 2px solid red;
  box-shadow: -1px 4px 10px 1px rgba(0,0,0,0.31);
  transition: visibility .5s, opacity 0.5s ease;
  z-index: 1;
}

.nav-logo{
  height: 35px;
  display: block; 
  /* margin-bottom: 5px; */
  cursor: pointer;
}
.nav-language-button{
  color: red;
}
.ul-mobile li.logo-position{
  display: flex;
  align-items: center;
}
.landing-paper{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-paper .paper{
  min-width: 20%;
  padding: 2rem 2rem;
  box-shadow: -1px 4px 10px 1px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.landing-paper .paper form.landing-input{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.search-button{
  background: red;
  border: none;
  margin: 0 1rem;
}

.search-button-icon{
  color: white;
}
.ant-btn-primary:focus, .ant-btn-primary:hover {
  background: red;
}
div.delivery-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.delivery-status{
  min-height: 20vh;
  width: 65%;
  margin: auto;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

div.delivery-status div.info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-top: 10px;
}
div.delivery-status div.progress{
  margin: 30px;
}

div.delivery-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  margin: 3% auto;
}

div.delivery-info div.delivery-progress{
  width: 70%;
}

div.delivery-info div.delivery-address{
  width: 27%;
}

div.delivery-info div.delivery-address div{
  min-height: 10vh;
  background-color: rgba(248,248,248,250);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.info-component-main{
  display: flex;
  flex-direction: column;
}
.info-component-main h3.title{
  color: rgb(150,150,150);
}
.info-component-main .description h3{
  font-weight: bold;
}
.stepperGreen .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail:after {
  background-color: rgb(0, 199, 0);
}

.stepperRed .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail:after {
  background-color: #ff4d4f;
}

.stepperYellow .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail:after {
  background-color: rgb(192, 192, 31);
}

.ant-steps-small .ant-steps-item-title{
  font-weight: bold;
}
/* .stepperGreen .ant-steps-item-title,.stepperRed .ant-steps-item-title,.stepperYellow .ant-steps-item-title{
  white-space: nowrap;
} */

.stepperRed .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fff;
  border-color: #ff4d4f;
}
.stepperRed .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
  color: #ff4d4f;
}
.stepperGreen .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fff;
  border-color: rgb(0, 197, 0);

}
.stepperGreen .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
  color: rgb(0, 199, 0);

}
.stepperYellow .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fff;
  border-color: rgb(199, 199, 0);
}
.stepperYellow .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
  color: rgb(199, 199, 0);
}
ul li.ant-icon-color .ant-btn-icon-only>.anticon {
  color: red;
}

@media (min-width: 1050px){
  .ul-mobile{
    display: none;
  }
  div.mobile-menu{
    display: none;
  }
}

@media (max-width: 1050px){
  .ul-desktop{
    display: none;
  }
  nav,
  div.delivery-status,
  div.delivery-info div.delivery-address,
  div.delivery-info div.delivery-progress{
    width: 95%;
  }
  div.delivery-info{
    flex-direction: column;
    width: 95%;
  }
  div.delivery-status div.info{
    flex-direction: column;
    margin: 0 10px;
  }
}