@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap%27");
@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap%27");

html[dir="ltr"] {
  font-family: 'Poppins';
}
html[dir="rtl"] {
  font-family: 'Cairo';
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  /* height: 9vh; */
  margin: auto;
  background-color: white;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.mobile-menu ul {
  flex-direction: column;
}
ul li button{
  padding: 14px 16px;
  margin: .5rem;
  background: transparent;
  border: none;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 1px solid transparent;

}
div.mobile-menu ul li button{
  text-align: start;
  width: 95%;
  border-bottom: 1px solid rgb(231, 231, 231);
}
ul li button:hover{
  border-bottom: 1px solid red;
}

div.mobile-menu{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100vw;
  min-height: 30vh;
  background-color: white;
  border-top: 2px solid red;
  box-shadow: -1px 4px 10px 1px rgba(0,0,0,0.31);
  transition: visibility .5s, opacity 0.5s ease;
}

@media (min-width: 1050px){
  .ul-mobile{
    display: none;
  }
  div.mobile-menu{
    display: none;
  }
}

@media (max-width: 1050px){
  .ul-desktop{
    display: none;
  }
  nav{
    width: 85%;
  }
  
}

.landing-paper{
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing-paper .paper{
  min-width: 20%;
  padding: 2rem 2rem;
  box-shadow: -1px 4px 10px 1px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.landing-paper .paper form.input{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

